<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hbs</title>
</head>
<style>
table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}
td,h1 {
  text-align: center;
}

</style>
<body>
{{>header}}

    <h1><u><b>CLASS ASSESSMENT-3</b></u></h1>
    <table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Parent Section</th>
    <th>Roll No.</th>
    <th>Registration No. </th>
  </tr>
  <tr>
    <td>Anmol</td>
    <td>D1901</td>
    <td>24</td>
    <td>11916219 </td>
  </tr>
  <tr>
    <td>Sakshi</td>
    <td>D1902</td>
    <td>25</td>
    <td>11918265 </td>
  </tr>
   <tr>
    <td>Harpreet</td>
    <td>D1903</td>
    <td>26</td>
    <td>11918568 </td>
  </tr>
  <tr>
    <td>Neha</td>
    <td>D1904</td>
    <td>27</td>
    <td>11915269</td>
  </tr>
  <tr>
    <td>Pooja</td>
    <td>D1905</td>
    <td>28</td>
    <td>11918965</td>
  </tr>
   <tr>
    <td>Seekha</td>
    <td>D1906</td>
    <td>29</td>
    <td>11916325</td>
  </tr>
    <tr>
    <td>Aditi</td>
    <td>D1907</td>
    <td>30</td>
    <td>11915889</td>
  </tr>
</table>

</body>
</html>